.container {
    width: 1000px;
    margin: 30px auto;
    background-color: #ddd;

    display: grid;
    // ocupa todo el espacio
    grid-template-columns: repeat(auto-fill, 100px);
    // ocupa el tamaño exacto de los items
    grid-template-columns: repeat(auto-fit, 100px);
    // 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-auto-rows: 150px;
    
    .item {
        padding: 20px;
        color: white;
        font-family: sans-serif;
        font-size: 30px;
        background-color: orangered;

        &--1 {
            background-color: royalblue;
        }

        &--2 {
            background-color: orange;
        }

        &--3 {
            background-color: orangered;
        }

        &--4 {
            background-color: red;
        }

        &--5 {
            background-color: yellow;
        }

        &--6 {
            background-color: green;
        }

        &--7 {
            background-color: yellowgreen;
        }

        &--8 {
            background-color: lightcoral;
        }
    }
}
